*

/* { class */
   .p1
   {
    /* background-color: blue; */
    background-color: rgb(rgb(135, 187, 113), green, blue);
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
   
    color: cadetblue;

   }
   /* id */
   #para1
   {
    background-color:rgb(rgb(251, 255, 0), rgb(184, 20, 44), blue);
   }
   #head2
   {
    font-style: italic;
   }

