/* #d1{
    border: 3px solid rgb(227, 20, 20);
    border-radius: 10%;
    width: 300px;
    height: 100px;
    font-size: 50px;
    background-color: aqua;
    padding: 20px;
    margin: 40px;
    background: linear-gradient(red violet green);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(255,255 255);

}
 #d1 span  
{
    background: linear-gradient(red green blue);
    background-clip: text;
    color: transparent;

}

#d2{
     border: 10px solid yellow;
    width: 300px;
    height: 100px;
    font-size: 50px;
    background-color: aqua;
    border-radius: 20px ;
    /* padding: 20px;
    margin: 40px; */
    /* margin-left: 50px;
    margin: 0 0 0 50px;
    padding: 10px 20px 30px 40px;
    box-shadow: 5px 5px 2px 10px red ; */
/* }  */

/* h1
{
    background-color: aquamarine;
} */

.firstClass
{
    background-color: blanchedalmond;
}

.secondClass
{
    background-color: beige;
}