#container
{
    width: 90%;
    margin:auto;
    height: 80vh;
    display: flex;
    align-items: center;
    gap: 100px;
}


#image
{
    height: 100%;
    img{
        border: 1px solid black;
        height: inherit;
        object-fit: cover;
        object-position: top;
    }
}



h1{

    border-bottom : 2px solid red;
    padding-bottom: 10px;
    text-align: center;

}


#formFields
{
    display: grid;
    grid-template-columns: 250px 300px;
    gap: 10px;
}


