h1
{
    background-color: aquamarine;
    /* border-style:solid;
    border-width: 2px;
    border-color: brown; */
    /*  short hand notation */
    border:solid brown 2px;
    border-radius: 5px ;
    width: 350px;
    padding: 50px;
    margin: 10px;
    

} 

.firsPara
{
    background-color: blanchedalmond;
}

.secondPara
{
    background-color: beige;
}

.thirdPara
{
    background-color: yellow;
}