#mainDiv{
    width: 90vw;
    margin: auto;
    grid-template-columns: auto auto auto auto auto;
    display: grid;
    gap: 10px;
    
}
.subDiv
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
@media screen and (max-width:1200px) {
    
    #mainDiv
    {
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (max-width:960px) {
    
    #mainDiv
    {
        grid-template-columns: auto auto auto ;
    }
}
@media screen and (max-width:768px) {
    
    #mainDiv
    {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:576px) {
    
    #mainDiv
    {
        grid-template-columns: auto;
    }
}