body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navcontainer {
  position: sticky;top: 0;
  backdrop-filter: blur(45px);
  background-color: white;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
}

#navbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

#navlogo {
  font-size: 1.5rem;
  font-weight: bold;
  
}

.nav-link {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  display: flex;            
  align-items: center;
  transition: color 0.3s ease;
}

#page
{
  height: fit-content;
}

.nav-link img {
  width: 18px;
  height: 18px;
  margin-right: 8px;        
  transition: filter 0.3s ease;
}

#buttons button {
  margin-left: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sign {
  background-color: white;
  color: black;
}
#sign:hover {
  background-color: #d3d3d3; 
  color: black;              
}

#blocks {
  background-color: black;
  color: white;
}


.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px;
  gap: 40px;
}

.intro-content h1 {
  font-size: 3em;
  font-weight: 700;
  color:black;
  margin-bottom: 20px;
}

.intro-content p
{
  color: grey;
  font-size: 1.2rem;
}
#require-button
{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 12px;
}
#email
{
  padding: 10px 15px;
  width: 60%;
  border-radius: 6px;
  margin-bottom: 15px;
}
.terms {
  font-size: 0.9rem;
  color: #666;
  
}


.intro-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  object-fit: cover;
}

.clients {
  text-align: center;
  padding: 80px 0 60px 0;
}

.clients h3{
  text-align: center;
  color: black;
  margin: 10vh;
}

.client-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
 
}

.client-logos img {
  height: 50px;
  /* opacity: 0.9;
   */
}
#Netflix
{
  height: 70px;
}
#amazon
{
  height: 50px;
}

.skills {
  text-align: center;
  /* padding: 50px 20px 100px; */
  
}


.skills h4 {
  font-size: 1rem;
  color: black;
  /* margin-bottom: 10px; */
  font-weight: 700;
}

.skills h2 {
  font-size: 3rem;
  font-weight: 800;
  color: #1f2937;
  /* margin-bottom: 20px; */
}

.skills p {
  color: #888;
  font-size: 1.1rem;
  /* max-width: 800px; */
  /* margin: 0 auto;
  line-height: 1.8; */
  text-align: center;
}

/* Styling for all input fields */
.field-group input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc; /* The thin line separator */
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.field-group input::placeholder {
    color: #999;
    font-style: italic;
}


.skills-items{
    width: 70vw;
    margin:  50px auto;
    grid-template-columns: repeat(3, 1fr); 
    display: grid;
    gap: 70px;
    text-align: center;
    
}

.skill-card h3 {
  color: black;
  font-size: 1.3rem;
  margin-bottom: 10px;
  
}

.skill-card p {
  color: grey;
  line-height: 1.5;
  text-align: center;
 
 
}
.skill-card img
{
  align-items: center;
}


.projects
{
  margin: 100px auto;
}

.projects h2
{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.projects p{
  text-align: center;
  color: grey;
  line-height: 1.5;
  font-size: 1.5rem;
}

.project-items{
    width: 80vw;
    margin: 50px auto;
    grid-template-columns: repeat(4, 1fr); 
    display: grid;
    gap: 40px;
    align-items: center;
    
}
.project-card {
  background: #fff;
  border-radius: 15px;
}
.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project-card h3 {
  color: black;
  border-radius: 15px;
  box-shadow: rgb(247, 247, 247);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  
}

.project-card p {
  color: grey;
  font-size: 0.95rem;
  /* padding: 0 15px; */
  margin-bottom: 20px;
}

.project-card button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
  
}

.project-card button:hover {
  background-color: #333;
}

.resume
{
  width: 80%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: flex-start; 
  gap: 100px;
 
}

.resume-left h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}

.resume-left p
{
  color: grey;
  font-size: 1rem;
  /* line-height: 1.6; */
  margin-bottom: 25px;
}

.resume-btn {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: #000;
  
}
.resume-btn:hover {
  color: #555;
}

.resume-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.resume-item {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.resume-item img 
{
  width: 45px;
  height:45px;
  border-radius: 12px;
  padding: 10px;
}

.resume-item span {
  font-size: 1.05rem;
  color: grey;
}

.testimonials {
  text-align: center;
  padding: 60px 0;
  margin: 50px auto;
}

.testimonials h2 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.testimonials p {
  font-size: 1 rem;
  color: grey;
  text-align: center;
  margin: 0 auto;
}

.mobile-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 80px auto;
  padding: 0 40px;
  gap: 60px;
}

.left-section {
  flex: 1;
}

.left-section h2
{
  font-size: 2rem;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}
.left-section p
{
  font-size: 1rem;
  color: grey;
   line-height: 1.8;
  margin-bottom: 10px;
}

.left-section h4 {
  margin-top: 25px;
  font-size: 1.05rem;
  font-weight: 600;
  color: #111;
}
.company {
  color: #007aff;
  font-weight: 500;
  margin-top: 5px;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-section img {
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  object-fit: cover;
  display: block;
}

.pop
{
  text-align: center;

}

.pop h4
{
    color: grey;
    
}

.pop h1
{
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.grey-client-logos {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px 0;
  background-color: #fff;
}


.grey-client-logos img {
  width: 140px;
  filter: grayscale(100%) brightness(80%);
  opacity: 0.6;
  transition: all 0.3s ease;
}

.grey-client-logos img:hover{
   filter: grayscale(0%) brightness(100%);
  opacity: 1;
}

.contact{
  text-align: center;
  padding: 60px 0;
  margin: 50px auto;
}

.contact h2 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.contact p {
  font-size: 1 rem;
  color: grey;
  text-align: center;
  margin: 0 auto;
}
.container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 10px;
}

/* Contact Box */
.contact-box {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Left Info Section */
.contact-info {
  background-color: #111;
  color: #fff;
  flex: 1 1 300px;
  padding: 40px 30px;
}

.contact-info h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.contact-info p {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 30px;
  line-height: 1.5;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  font-size: 0.9rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

/* Right Form Section */
.contact-form {
  flex: 2 1 500px;
  padding: 40px 30px;
}

.row {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 6px;
  color: black;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 8px 0;
  font-size: 0.9rem;
  background-color: transparent;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #000;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 6px;
  font-size: 0.9rem;
  color: grey;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 6px;
}

textarea {
  resize: none;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 0.85rem;
  border-radius: 4px;
  cursor: pointer;
  align-items: flex-end;
}

.btn:hover {
  background-color: #333;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form .btn {
  align-self: flex-end;
  margin-top: 10px;
}

/* Footer */
footer {
  text-align: center;
  font-size: 0.75rem;
  color: #777;
  padding: 30px 10px;
  border-top: 1px solid #ddd;
  margin: 20px autp;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  margin: 0 10px;
  color: #555;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.subscribe-btn {
  background-color: #000;
  color: #fff;
  padding: 5px 12px;
  border: none;
  border-radius: 4px;
  font-size: 0.7rem;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .contact-box {
    flex-direction: column;
  }

  .contact-info, .contact-form {
    width: 100%;
  }
}




@media (max-width: 900px) {
  .skills-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .skills-items {
    grid-template-columns: 1fr;
  }
}