nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;

}
ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    
}
 
 .logo
 {
   font-family: Roboto, sans-serif; font-size: 1.125rem; font-weight: 700; color: black;
 }
 nav button
 {
    font-family: Roboto, sans-serif; font-size: 1.125rem;
    color: white;
    font-weight:bold;
    border-radius: 5px;
    padding: 5%;
     display: inline-block;

 }
nav button:hover
{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5%;

}
 
 
 .main
{
    display: flex;

}
#heading p{
    color: rgb(128, 128, 128);

}