body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}



*{
    margin: 0;
    padding: 0;
   
}

#logo
{
    display: flex;;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
#options ul
{
    list-style: none;
    display: flex;
    gap: 25px;
}

#buttons button {
  border-radius: 10px solid #333;
  padding: 5px 12px;

}
#buttons blocks
{
    background-color: black;
    color: white;
}

#buttons sign
{
    background-color: white;
    color:white;
}

#buttons button:hover {
  background-color: #f0f0f0;
}
.mainBody
{
    display: flex;
}