body
{
    font-family: Arial, Helvetica, sans-serif;
    
    

}

#head1
{
    background-color: green;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
    
}
#head h1 {
  margin: 0;
}


#container 
{
  display: flex;
  margin: 20px;
  gap: 20px;
}

#sidebar
{
    display: flex;
    flex-direction: column;
    width: 180px;
    gap: 10px;
    font-size: larger;
   

}
#sidebar-menu button {
  padding: 30px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-weight: bold;
  text-align: left;
  border-radius: 4px;
  margin-bottom: 5px;
}

#side-bar
{
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 10px;
    font-size: larger;
    background-color: rgb(0, 149, 255);
    color: white;
    padding: 10px;
    

}